.task1 h2 {
  margin-top: 50px;
}

.blog {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .blog {
    flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .blog {
    margin-top: 0px;
  }
}
