.custom-hook {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  padding: 2px;
  text-align: center;
}

.search-result {
  padding: 30px;
  width: 70%;
  background-color: aliceblue;
  text-align: left;
}

.sort,
.search {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-sort,
.search-box {
  width: 70%;
  padding: 5px 30px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(37, 37, 61, 0.438);
}

.search-box h5 {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.select-sort h5,
label {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.sorted-result {
  margin-bottom: 30px;
  padding: 30px;
  width: 70%;
  background-color: aliceblue;
  text-align: left;
}
