.post {
  margin: 15px auto;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 20px;
  animation: post-animate 1s ease-in-out;
}

@keyframes post-animate {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.post-title {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.post-info {
  font-style: italic;
  text-align: start;
}

.post-text {
  text-align: left;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}
